*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    font-size: 16px;
}

section#primeira{ /* # = id */
    background-color: aqua;
}

.primeiro_bloco{
    font-size: 0.5em;  /* . = class */
    background-color: gray;
}

.segundo_bloco{
    font-size: 0.75em;
    background-color: red;
}

.terceiro_bloco{
    font-size: 1em;
    background-color: yellow;
}

.quarto_bloco{
    font-size: 1.25em;
    background-color: blue;
}

.quinto_bloco{
    font-size: 1.50em;
    background-color: chartreuse;
}

.sexto_bloco{
    font-size: 1.75em;
    background-color: purple;
}