<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entretenimento</title>
</head>
<body>
     <!--Cabeçalho ou Inicio do meu Site-->
     <header style="display: flex;">
        <!--Section = Foto de Perfil-->
       <section>
        <img src="https://cdn2.steamgriddb.com/file/sgdb-cdn/icon/ba304f3809ed31d0ad97b5a2b5df2a39/32/256x256.png" alt="Imagem de Perfil" height="100px" width="100px">
       </section>
       <!--Section = Informações Pessoais-->
       <section>
           <br> <br>
           &nbsp; &nbsp; &nbsp; 
           João Guilherme | 17 Anos | @jaoguiih | (81) 98835-4731 | Escorpião
       </section>
    </header>
    <!--Nvageção da Minha Página-->
    <nav>
        <!--Tag <a href=""> refere-se ao link de navegação-->
            <hr>
        <a href="mySite.html">Sobre Mim</a>
        <a href="entretenimento.html">Entretenimento</a>
        <a href="musicas.html">Músicas</a>
        <hr>
    </nav>

    <!--Seção de Entretenimento-->
    <article>
        <h3>Dragon Ball Z</h3>
        <h5>Amo 10/10</h5>
        <p>
            <img src="dbz.jfif" alt="DBZ" height="100px" width="70px">
        </p>
        <p>
            <strong>Dragon Ball Z</strong> é sobre um sayajin que ama <br>
            lutas e artes marticais, até mais que a propria familia.
        </p>
        <p> 
            Para conhecer mais <a href="">Clique aqui!</a>
        </p>

        <h3>Yu-Gi-Oh</h3>
        <h5>Amo 10/10</h5>
        <p>
            <img src="yugi.jpg" alt="Yu-Gi-Oh!" height="100px" width="70px">
        </p>
        <p>
            <strong>Yu-Gi-Oh</strong> é sobre jovens jogadores de monstros <br>
            de duelo, cartas com certos poderes e habilidades. <br>
        </p>
        <p> 
            Para conhecer mais <a href="">Clique aqui!</a>
        </p>

        <h3>Gotoubun no Hanayome</h3>
        <h5>Amo 10/10</h5>
        <p>
            <img src="gnh.jfif" alt="Gotoubun no Hanayome" height="100px" width="70px">
        </p>
        <p>
            <strong>Gotoubun no Hanayome</strong> é sobre 5 irmãs burras que tem um <br>
            novo professor particular, o nerd da sala, e com o tempo as 5 vam se <br>
            apaixonando pelo nerd, e estudar que é bom, nada.
        </p>
        <p> 
            Para conhecer mais <a href="">Clique aqui!</a>
        </p>

    </article>
</body>
</html>