<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Space</title>
</head>
<body>
    <!--Cabeçalho ou Inicio do meu Site-->
    <header style="display: flex;">
        <!--Section = Foto de Perfil-->
       <section>
        <img src="https://cdn2.steamgriddb.com/file/sgdb-cdn/icon/ba304f3809ed31d0ad97b5a2b5df2a39/32/256x256.png" alt="Imagem de Perfil" height="100px" width="100px">
       </section>
       <!--Section = Informações Pessoais-->
       <section>
           <br> <br>
           &nbsp; &nbsp; &nbsp; 
           João Guilherme | 17 Anos | @jaoguiih | (81) 98835-4731 | Escorpião
       </section>
    </header>
    <!--Nvageção da Minha Página-->
    <nav>
        <!--Tag <a href=""> refere-se ao link de navegação-->
            <hr>
        <a href="mySite.html">Sobre Mim</a>
        <a href="entretenimento.html">Entretenimento</a>
        <a href="musicas.html">Músicas</a>
        <a href="test.html">Test</a>
        <hr>
    </nav>
    <!--Estrutura do Site-->
    <main>
        <h1>Conheça um pouco Sobre Mim e Meu Mundo</h1>
        <p>
            Hey, traquilo? <br>
            Guilherme aqui <br>
            Eu gosto de DDLC <br>
        </p>
        <ul>
            <li>Jogo varios jogos, sério, bastante.</li>
            <ul>
                <li>Dark Souls I e II</li>
                <li>Minecraft</li>
                <li>Bloons TD 6</li>
                <li>Doki Doki Literature Club</li>
            </ul> <br>
            <li>Amo fazer qualquer coisa ouvindo música.</li>
            <ul>
                <li>Life in The Rio</li>
                <li>Metamorphis</li>
                <li>David Guetta, Bebe Rexha - Im Good</li>
                <li>Gavin James - Always</li>
            </ul> <br>
            <li>Amo Futebol, jogo e assisto muito.</li>
            <ul>
                <li>Sport</li>
                <li>Real Madrid</li>
                <li>Milan</li>
            </ul> <br>
            <li>Assisto animes as vezes, mais Shounen e Romance.</li>
            <ul>
                <li>Dragon Ball</li>
                <li>Yu-Gi-Oh!</li>
                <li>Gotoubun no Hanayome</li>
                <li>Kaguya-sama: Love is War</li>
            </ul> <br>
            <li></li>
        </ul>
    </main>

    <!--Rodapé-->
    <hr>
    <fonter>
        By jaoguiih
    </fonter>

</body>
</html>