<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 10 Phonk</title>
</head>
<body>
     <!--Cabeçalho ou Inicio do meu Site-->
     <header style="display: flex;">
        <!--Section = Foto de Perfil-->
       <section>
        <img src="https://cdn2.steamgriddb.com/file/sgdb-cdn/icon/ba304f3809ed31d0ad97b5a2b5df2a39/32/256x256.png" alt="Imagem de Perfil" height="100px" width="100px">
       </section>
       <!--Section = Informações Pessoais-->
       <section>
           <br> <br>
           &nbsp; &nbsp; &nbsp; 
           João Guilherme | 17 Anos | @jaoguiih | (81) 98835-4731 | Escorpião
       </section>
    </header>
    <!--Nvageção da Minha Página-->
    <nav>
        <!--Tag <a href=""> refere-se ao link de navegação-->
            <hr>
        <a href="mySite.html">Sobre Mim</a> |
        <a href="entretenimento.html">Entretenimento</a> |
        <a href="musicas.html">Músicas</a> |
        <a href="contato.html">Fale Comigo</a>
        <hr>
    </nav>

    <!--Aqui começa minha lista-->
    <main>
        <ol>
            <li>Glichery - Sea of Problems</li>
            <li>Interworld - Rapture</li>
            <li>Nueli - Life in Rio</li>
            <li>Kordhell - Land of Fire</li>
            <li>PlayaPhonk - Phonky Town</li>
            <li>Kordhell - Murder Plot</li>
            <li>Interworld - Metamorphis</li>
            <li>Nxvamane - Fresh</li>
            <li>Kiixshi - Ghost</li>
            <li>Pr1svx - Crystals</li>
        </ol>
    </main>
    <!--Rodapé-->
    <hr>
    <footer>
        By jaoguiih &copy;
    </footer>
</body>
</html>